/* DEFAULTS
----------------------------------------------------------*/

body   
{
    height:100%;
    background: #FFF;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #3e3e3e;
  
}


.MobiletextEntry
{
    width: 30px !important;
    }
a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 0px;
  
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 1200px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

/*.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

#body {
   height:100%;
}*/

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

#footer 
{
     border-top: 1px solid;
   position:fixed; 
   bottom:0;
   width:100%;
   height:60px; 
    background:#FFF;
   /* Height of the footerabsolute; */
  
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/


#formwrapper
{
    
   
    -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
    
}

#forminner
{
   
    background-color:#ffffff;
   
    -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
  
}

#forminner label
{
    
    display: inline-block;
    margin: 1%;  
    width: 21%;
}

#forminner input, #forminner select
{
    width:30%;
    
}

input[type="checkbox"]
{
    width:10% !important;
}

input, input[type="text"], select
{
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   padding:10px 8px; 
   border:solid 1px #cecece;
   
}

.form_heading
{
    color: #0e72b8;
    font-size: 1.7em;
    font-weight: bold;
    margin: 10px 0;
    text-align: left;
}

.form_comments
{
    color: #cecece;
    display: block;
    font-size: 0.9em;
}


input.actionbutton
{
     display:inline-block;
    background-color:#0e72b8;
    color:#ffffff;
    padding:10px 30px;
    font-size:1.2em;
    text-decoration:none;   
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor:pointer;
}

input.actionbutton:hover
{
    background-color:#083e64;
}


/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    display: block;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 10px;
    text-align: right;
    width: 1175px;    
}

.loginDisplay a:link
{
    color: #3e3e3e;
}

.loginDisplay a:visited
{
    color: #3e3e3e;
}

.loginDisplay a:hover
{
    color: #3e3e3e;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align:left;
}

/* ------------------------------- Main Master ---------------------------- */


#topheader
{
 
    background-color:#fff;
    padding:15px 0 0 0;
}

#topheaderinner
{
    width: 1200px; 
    margin:0 auto;
}

#wrapper
{
   width: 1200px; 
  /* min-height:440px; */
    margin:0 auto;
    overflow:hidden;
 
    margin-bottom:60px;
    
     /* min-height:100%;*/
   position:relative;
}
.footerleft
{
    float:left;
}

.footerright
{
    float:right;
}

/*#footer
{
    border-top: 1px solid;
    clear: both;   
    margin-top: 50px;
    padding: 10px;   
}*/

#two-col-1
{
    width:48%;
    margin-right:2%;
    margin-left:2%;
    float:left;
}

.center-col
{
    width:340px;
    margin:0 auto;
}

#two-col-2
{
    width:45%;
    margin-right:2%;
    float:right;
}

#three-col-1
{
    width:30%;
    float:left;
}

#three-col-2
{
    width:70%;
    float:right;
}


.leftfloat
{
    float:left;
}

.rightfloat
{
    float:right;
}

.centerfloat
{
    text-align:center;
}

.clear
{
    clear:both;
}

/*@media screen and (max-width: 980px) {


#topheaderinner
{
    width: 95%; 
    margin:0 auto;
}

#wrapper
{
   width: 95%;  
    margin:0 auto;
}

#two-col-1
{
    width:40%;
    
    float:left;
}

#two-col-2
{
    width:40%;
    float:right;
}


#footer
{
    height:50px;    
}
}

@media screen and (max-width:768px) {
 
  
#two-col-1,#two-col-2
{
    float:none;
    width:100%;
    
}


#div_home .form_heading
{
    float:right;
    
}

#two-col-2
{
    margin-top:5%;
}
 
#forminner label
{
    display:block;
    border:none;
    width:100%;
    font-size:1.3em;
} 

.homelargebuttons
{
    
}  
   
 .searchbuttons
 {
     width:100% !important;
 } 
#forminner input, #forminner select
{
    
       width:100%;
       padding:3%;
   
}    
 

}

@media screen and (max-width:480px) {
  
#two-col-1, #two-col-2
{
    float:none;
    width:100%;
    
}

input.homelargebuttons, input.searchbuttonslarge
{
    float:none;
}  
  
  
  #div_home .form_heading
{
    float:none;
    
} 

.logintext
{
    margin-left:1% !important;
}   
      
  #imgLogo
  {
      width:85%;
  }
  
  .logintextboxes
{
    width:93% !important;
    padding:3%  !important;
    margin:5px 0;
}
}

*/

/* -------------------- Home Page content ---------------------------------------- */



#div_Home
{
    margin:50px 0;
}

div.buttons
{
    text-align:center;   
   
}

.homeheading
{
    color: #0e72b8;
    font-size: 2.2em;
    font-variant: normal;
    text-align: center;
}

.homeheadingsub
{
    
    color: #0e72b8;
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 65px;
    text-align: center;
    text-transform: lowercase;
    
}

a.homelargebuttons 
{
    display:inline;
    float:left;
    margin:10px 0  15px 30px;
    background-color:#0e72b8;
    color:#ffffff;
    padding:7px;
    font-size:1.9em;
   
    text-decoration:none;
    width:270px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   
}

a.homelargebuttons:hover
{
    background-color:#083e64;
}

.socialmediaicons
{
    width:40%;
    margin:5% auto;
    text-align:center;
}

.socialmediaicons img
{
    
    margin: 10px;
    width: 40px;
}


input.homelargebuttons 
{
    display:inline;
    float:left;
    margin:10px 0  15px 30px;
    background-color:#0e72b8;
    color:#ffffff;
    padding:15px;
    font-size:1.9em;
   
    text-decoration:none;
    width:270px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   
}

input.homelargebuttons:hover
{
    background-color:#083e64;
}



input.searchbuttonslarge 
{
    display:inline;
    float:left;
    margin:10px 0  5px 30px;
    background-color:#0e72b8;
    color:#ffffff;
    padding:3px;
    font-size:1.5em;
    cursor:pointer;  
    text-decoration:none;
    width:270px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   
}

input.searchbuttonslarge:hover
{
    background-color:#083e64;
}


.searchbuttons
{
    width:650px;
    margin: 0 auto;
}


/* ---------------------------- Login Page Content ----------------------- */


.logintext
{
    margin-left:10%;
}

.facebookloginclass
{
    display:inline-block;
    background-image:url("../Images/login_with_facebook.png");
    background-repeat:no-repeat;
    text-indent:-9999px;
    width:200px;
    color:#ffffff;
    padding:15px 30px;
    font-size:1.2em;
    margin:10px 0;
    text-decoration:none; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}



.logintext p
{
    color:#0e72b8;
    font-size:1.5em;
    width:60%;
    float:left;
}

div.signupfloatright
{
    float:left;
    width:40%; 
    margin-top:3%;  
}

a.signupbutton 
{
    display:inline-block;
    background-color:#ee7f13;
    color:#ffffff;
    padding:10px 25px;
    font-size:1.2em;
    margin:10px 0;
    text-decoration:none; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   
}

a.signupbutton:hover
{
    background-color:#ffad5d;
}

.loginlabel
{
    color:#0e72b8;
    font-size:1.3em;
    display:block !important;
    border:none !important;
}

#div_home .logintextboxes
{
    width:95%;
    padding:3% ;
    margin:5px 0;
}

.loginfieldcontainer
{
    margin:15px 0;
   
}

a.loginlinks
{
    background-color: #0e72b8;
    color: #fff;
    display: inline-block;
    margin: 3px;
    padding: 7px;
    text-decoration: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    cursor:pointer;
    margin-top:10px;
    font-size:0.9em;
}

a.loginlinks:hover
{
    background-color:#083e64;
}


.formlinkswidthleft
{
    width:70%;
}


/* Student profile */

#MainContent_Student_Profile_HeaderID_StidentProfileHeader, #MainContent_Student_Public_Profile_HeaderID_StidentProfileHeader, #MainContent_Landload_Profile_Header1_StidentProfileHeader, #MainContent_Landload_Public_Profile_Header1_StidentProfileHeader
{
    height: 320px;
    margin: 0 auto;
    
    position: relative;
    width: 1200px;
}

#MainContent_Student_Profile_HeaderID_HeaderImage, #MainContent_Student_Public_Profile_HeaderID_HeaderImage, #MainContent_Landload_Profile_Header1_HeaderImage, #MainContent_Landload_Public_Profile_Header1_HeaderImage img
{
    width:1195px;
    height:225px;
    overflow:hidden;
    border: 3px solid;
}

#MainContent_Student_Profile_HeaderID_HeaderImage img, #MainContent_Student_Public_Profile_HeaderID_HeaderImage img, #MainContent_Landload_Profile_Header1_HeaderImage img, #MainContent_Landload_Public_Profile_Header1_HeaderImage img
{
    width:1195px !important;
    height:225px;
   
}


#MainContent_Student_Profile_HeaderID_StudentProfileImage, #MainContent_Student_Public_Profile_HeaderID_StudentProfileImage, #MainContent_Landload_Profile_Header1_imgLandloadProfileImage, #MainContent_Landload_Public_Profile_Header1_imgLandloadProfileImage
{
   border: 5px solid #fff;
    box-shadow: 0 0 2px #000;
    height: 100px;
    left: 1px;
    overflow: hidden;
    position: absolute;
    top: 210px;
    width: 100px;
    z-index: 5;
}



#MainContent_Student_Profile_HeaderID_CurrentHouseImage, #MainContent_Student_Public_Profile_HeaderID_CurrentHouseImage
{
    border: 5px solid #fff;
    box-shadow: 0 0 2px #000;  
    height: 101px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    right: -520px;
    top: 0px;
    width: 100px
}

#MainContent_Student_Profile_DataID_currentHomeStudent, #MainContent_Student_Public_Profile_DataID_currentHomeStudent
{
    margin:0 auto;
    width:1200px;
}

#MainContent_Student_Profile_HeaderID_LandloadProfileImage, #MainContent_Student_Public_Profile_HeaderID_LandloadProfileImage
{
    border: 5px solid #fff;
    box-shadow: 0 0 2px #000;
    height: 100px;
    right: 1px;
    overflow: hidden;
    position: absolute;
    top: 210px;
    width: 100px;
    z-index: 5;
}

#MainContent_Student_Profile_DataID_LeftPanel, #MainContent_Student_Public_Profile_DataID_LeftPanel, #MainContent_LeftPanel, #MainContent_Landload_Profile_Data1_LeftPanel, #LeftPanel
{
    float: left;   
    padding: 15px 0;
    width: 17%;
   
   
}

#MainContent_Student_Profile_DataID_RightPanel, #MainContent_Student_Public_Profile_DataID_RightPanel, #MainContent_RightPanel, #MainContent_Landload_Profile_Data1_RightPanel, #RightPanel
{
    float: left;
    margin-left: 2%;
    padding: 15px 0;
    width: 81%;
}

#RightPanelLL
{
      float: left;
    margin-left: 2%;
    padding: 15px 0;
   
}


#MainContent_LeftPanelLL
{
    float: left;   
    padding: 15px 0;
    width: 17%; 
}
.comment_box
{
    float:right;
    margin-left: 2%;
    padding: 15px 0;
    width: 80%;
}

#MainContent_Student_Profile_CommentsID_StudentComments, 

{
   
    clear: both;
    margin: 0 auto;
    padding: 15px 0;
    width: 80%;
    float:right;
}




.imagegallerycontainer
{
        float:left;
        margin:15px;
        width:45%;
}

#MainContent_Landload_Profile_Banner1_LandloadBanner .imagegallerycontainer, #MainContent_Landload_Profile_Banner2_LandloadBanner .imagegallerycontainer
{
    float:left;
        margin:15px;
        width:100%;
    
}

#MainContent_Student_Profile_DataID_DataListStudentList .imagegallerycontainer, #MainContent_Current_House_RoomMate_infoID_DataListStudentList .imagegallerycontainer
{
   
    float: left;
    margin: 5px 40px;
    width: 250px;
}

.imagegallery, imagegallery img
{
   border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 2px #000;
    float: left;
    height: 60px;
    margin: 0 5% 0 0;
    width: 60px;
    overflow:hidden;
}


.lblnames
{
    float:left;
}

#MainContent_Student_Profile_DataID_Search, #MainContent_Student_Public_Profile_DataID_Search
{
    text-align:right;
}


table#MainContent_House_Option_Add1_chkOptionList
{
    width:100%;
}
#MainContent_House_Option_Add1_chkOptionList label
{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85px;
    
}

table#MainContent_House_ListID_DataListHouseList td
{
    border-bottom:1px solid #707070;
    padding-top:10px;
    padding-bottom:10px;
}

/* grid view styling start*/
.Grid {background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; font-family:Calibri; color: #474747;}
.Grid td {
      padding: 2px;
      border: solid 1px #c1c1c1; }
.Grid th  {
      padding : 4px 2px;
      color: #fff;
      background: #0e72b8;
      border-left: solid 1px #525252;
      font-size: 0.9em; }
.Grid .alt {
      background: #fcfcfc;}
.Grid .pgr {background: #363670; }
.Grid .pgr table { margin: 3px 0; }
.Grid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }  
.Grid .pgr a { color: Gray; text-decoration: none; }
.Grid .pgr a:hover { color: #000; text-decoration: none; }
/* grid view styling end*/

 .homebuttonsdiv
{
    margin: 0 auto;
    overflow: hidden;   
    width: 990px;
}

#MainContent_Student_Profile_DataID_StudentRating
{
    float:left;
    width:30%;
}

#MainContent_Student_Profile_DataID_StudentHouseData
{
    float:right;
    margin-right:340px;
   
}

#MainContent_Student_Profile_CommentsID_DataListStudentComments td
{
    border-bottom:1px solid #cdcdcd;
    padding:12px;
}

ul.level1 li a
{
  /* background-color: #0e72b8;*/
    border-bottom: 1px solid;
  /*   color: #fff;*/
    display: block;
    padding: 10px;
    width: 140px;
}

ul.level1 li a:hover
{
 /*background-color: #083e64;   */  
 color: #083e64;
}

.floatright
{
    float:right;
}


#MainContent_DataListStudentSearchresults, #MainContent_DataListHouseSearchresults
{
    width:100%;
}

#MainContent_DataListStudentSearchresults td, #MainContent_DataListHouseSearchresults td
{
     background-color: #f4f4f4;
    border-bottom: 1px solid #707070;
    font-size: 0.9em;
    padding: 10px 30px;
}

#MainContent_Landload_Profile_Banner1_LandloadBanner
{
    text-align:center;
}

#MainContent_House_ListID_DataListHouseList
{
    width:100%;
}


#MainContent_House_ListID_DataListHouseList td
{
    background-color: #f4f4f4;
    border-bottom: 1px solid #707070;
    font-size:1em;
    padding: 10px 30px;
}


input#MainContent_Student_School_info1_DrpSchoolName_I
{
    width:100% !important;
}